
@font-face {
font-family: "Roboto";
src: url("../fonts/roboto.woff2") format("woff2");
src: url("../fonts/roboto.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "Roboto";
src: url("../fonts/robotobold.woff2") format("woff2");
src: url("../fonts/robotobold.woff") format("woff");
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: "Roboto";
src: url("../fonts/robotomedium.woff2") format("woff2");
src: url("../fonts/robotomedium.woff") format("woff");
font-weight: 500;
font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  font-family: "Roboto", "Arial", sans-serif;
}

input {
  font-family: inherit;
}

img {
  max-width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  background-color: #eeeeee;
  width: 100%;
}

.wrap-general {
  width: 1200px;
  margin: 0 auto;
}




/* Header-блок */


/* Index-page */

.wrap-index {
  position: relative;
  min-height: 545px;
  padding-left: 0px;
  padding-right: 0px;
}

.nav-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.menu-nav,
.cart {
  padding-top: 33px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
  outline: none;
}

.main-header-logo:active {
  opacity: 0.2;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
  width: 438px;
  margin-left: 202px;
}

.menu-nav,
.cart {
  list-style: none;
}

.menu-nav a:hover,
.menu-nav a:focus,
.cart a:hover,
.cart a:focus {
  color: #fb565a;
  outline: none;
}

.menu-nav a:active {
  color: #a6a6a6;
}

.menu-active {
  display: block;
  color: #000000;
  border-bottom: 2px #fb565a solid;
  padding-bottom: 10px;
}

.cart {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 12px;
  margin-left: 286px;
}

.cart a:active {
  color: #a6a6a6;
}

.cart::before {
  display: inline-block;
  position: absolute;
  content: url("../img/cart.svg");
  width: 15px;
  height: 15px;
  top: 34px;
  left: -41px;
  opacity: 0.3;
  align-items: center;
}

.wrap-index section {
  margin-left: 20px;
}



/* Блок Слайдеры */


.sliders {
  position: relative;
  text-align: left;
  margin-left: 20px;
  list-style: none;
}

.sliders h2 {
  display: block;
  position: relative;
  z-index: 10;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  line-height: 58px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}

.sliders p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
  margin-top: 29px;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(2) {
  display: none;
}

.slider-item:nth-child(3) {
  display: none;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 90% 30px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 25px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 35px;
}

.btn-more {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 50px;
  width: 240px;
  min-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #fb565a;
  border-radius: 5px;
  margin-top: 46px; 
}

.btn-more:hover,
.btn-more:focus {
  background-color: #e74246;
  outline: none;
}

.btn-more:active {
  color: #e37376;
  background-color: #d7373b;
}

.slider-controls {
  position: absolute;
  top: 450px;
  left: 908px;
  width: 160px;
  height: 18px;
}

.slider-controls li {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 15px; 
  background-color: #ffffff; 
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls li:last-child {
  margin: 0;
}


/* Catalog-page */

.template-shop {
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  line-height: 58px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-top: 85px;
  margin-bottom: 0;
  padding-bottom: 117px;
}

.wrap-catalog {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #eeeeee;
}




/* Main-блок */


/* Index-page */

.wrap-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 80px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

.product .product-1 {
  background-image: url("../img/feature1.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.product .product-2 {
  background-image: url("../img/feature2.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.product-3 {
  background-image: url("../img/feature3.jpg");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.header-order {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 27px;
}

.btn-order1 {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 50px;
  width: 160px;
  min-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #fb565a;
  border-radius: 5px;
  margin-top: 35px;
}

.btn-order1:hover,
.btn-order1:focus {
  color: #ffffff;
  background-color: #e74246;
  outline: none;
}

.btn-order1:active {
  color: #e37376;
  background-color: #e74246;
}

.btn-order2 {
  background-color: #00ca74;
  margin-top: 35px;
}

.btn-order2:hover,
.btn-order2:focus {
  color: #ffffff;
  background-color: #00bc6c;
  outline: none;
}

.btn-order2:active {
  color: #4dc491;
  background-color: #00bc6c;
}

.btn-order3 {
  background-color: #efc84a;
  margin-top: 35px;
}

.btn-order3:hover,
.btn-order3:focus {
  color: #ffffff;
  background-color: #eab534;
  outline: none;
}

.btn-order3:active {
  color: #edc265;
  background-color: #e5a722;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrap-aboutstudio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
  text-align: left;
  word-wrap: break-word;
  border-top: 2px #eeeeee solid;
}

.about-studio {
  width: 700px;
  margin-bottom: 42px;
  margin-top: 80px;
}

.about-studio h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  margin-bottom: 32px;
}

.about-studio p {
  font-size: 16px;
  line-height: 24px;
}

.about-studio h5 {
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 34px;
}

.wrap-aboutstudio h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.list-studio {
  list-style: none;
  margin-bottom: 34px;
}

.list-studio::before {
  display: inline-block;
  content: "—";
  color: #fb565a;
  margin-right: 10px;
}

.accuracy {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.accuracy h5 {
  margin: 0;
}

.logo-aboutstudio {
  display: block;
  margin-bottom: 45px;
}

.table-percent {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 53px;
  text-align: left;
}

td {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

th {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 0;
  padding-top: 27px;
}

.table-percentn th {
  font-size: 16px;
}

td span {
  display: inline-block;
  font-size: 80%;
}



/* Блок ссылки-сайты */


.wrap-line {
  margin-left: 20px;
  margin-right: 29px;
  border-top: 2px #eeeeee solid;
  border-bottom: 2px #eeeeee solid;
}

.wrap-sites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 43px;
  margin-top: 48px;
  margin-bottom: 48px;
  list-style: none;
}

.wrap-sites a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrap-sites li {
  position: relative;
  min-height: 90px;
}

.wrap-sites img {
  opacity: 0.2;
}

.wrap-sites li:first-child::before {
  content: none;
} 

.wrap-sites li::before {
  display: block;
  position: absolute;
  content: "";
  width: 2px;
  height: 50px;
  background-color: #eeeeee;
  left: -50px;
  top: 17px;
}

.wrap-sites a:hover img,
.wrap-sites a:focus img {
  opacity: 1;
  outline: none;
}

.wrap-sites a:active,
.wrap-sites a:active li {
  opacity: 0.08;
}




/* Catalog-page */

.container-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-inner fieldset, input {
  border: none;
}




/* Левая колонка */


.left-column {
  margin-left: 20px;
  margin-top: 60px;
}

.left-column fieldset, ul {
  margin: 0;
  padding: 0;
}





/* Блок-ползунок Стоимость */

.range-filter {
  position: relative;
  width: 260px;
  height: 80px;
  margin-top: 36px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.scale {
  position: absolute;
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
}

.bar {
  width: 150px;
  height: 2px;
  background: #00ca74;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: #f1f1f1;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 31px;
  left: 0;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 150px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 130px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

.price-controls input {
  width: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.max-price {
  text-align: right;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 21px;
}



/* Блоки Сетка и Особенности */


.filters-item {
  margin: 0px;
  margin-top: 114px;
}

.filters-item label {
  position: relative;
}

.filters-item label {
  padding: 0;
}

.filters-item + label {
  padding-left: 14px;
}

fieldset.grid-item {
  margin-bottom: 31px;
  padding: 0; 
}

fieldset.properties {
  margin-bottom: 50px;
  padding: 0;
}

.filter-option {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-left: 37px;
  margin-bottom: 19px;
  list-style: none;
}

.filters-item input + label {
  cursor: pointer;
}

.filter-option input + label::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -37px;
  opacity: 0.5;
}

.filters-item input[type="radio"]:focus + label::before,
.filters-item input[type="radio"]:hover + label::before,
.filters-item input[type="checkbox"]:focus + label::before,
.filters-item input[type="checkbox"]:hover + label::before {
  opacity: 1;
}

.filters-item input[type="radio"]:disabled + label::before,
.filters-item input[type="checkbox"]:disabled + label::before {
  opacity: 0.2;
}

.filters-item input[type="radio"] + label::before {
  display: inline-block;
  background-image: url("../img/radio-off.svg");
  width: 25px;
  height: 25px;
}

.filters-item input[type="radio"]:checked + label::before {
  background-image: url('../img/radio-on.svg');
}

.filters-item input[type="checkbox"] + label::before {
  display: inline-block;
  background-image: url("../img/checkbox-off.svg");
  width: 23px;
  height: 23px;
}

.filters-item input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.btn-show {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;
  width: 260px;
  height: 50px;
  border-radius: 5px;
  border: none;
  outline: 0;
}

.btn-show:hover,
.btn-show:focus {
  background-color: #dfdfdf;
  outline: none;
}

.btn-show:active {
  color: #959595;
  background-color: #d5d5d5;
}



/* Правая колонка */

.right-column {
  margin-top: 60px;
  margin-left: 140px;
}

.sort-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.sort-category h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 266px;
}

.category-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
  padding: 0;
}

.category-type a {
  color: #b2b2b2;
  margin-right: 28px;
}

.category-type a:hover,
.category-type a:focus {
  color: #666666;
  outline: none;
}

.category-type a:active {
  color: #000000;
}

.category-type-active {
  color: #000000;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 18px;
}

.arrows a {
  opacity: 0.2;
}

.arrows a:hover,
.arrows a:focus {
  opacity: 0.5;
  outline: none;
}

.arrows a:active {
  opacity: 1.0;
}

.arrow-down {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 9px;
  margin-right: 18px;
}

.arrow-up {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 9px;
}



/* Баннеры-блок правой колонки */

.banners-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
  margin-right: 20px;
}

.site-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.site-item {
  position: relative;
  margin-bottom: 32px;
}

.site-item a {
  display: block;
  position: relative;
  width: 356px;
  height: 571px;
}

.site-item::before {
  display: block;
  content: "";
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  width: 360px;
  height: 40px;
  opacity: 0.2;
}

.site-item:hover,
.site-item:focus {
  box-shadow: 0 0 8px 3px #e1e1e1;
  border: 2px none solid;
}

.site-item:hover::before,
.site-item:focus::before {
  opacity: 1;
}

.site-item:hover .banner-info,
.site-item:focus .banner-info {
  display: block;
  position: absolute;
}

.banners-item {
  border: 2px #e5e5e5 solid;
}

.banners-item:hover,
.banners-item:focus {
  border: 2px #e5e5e5 solid;
}


/* Прайс на баннере */

.banner-info {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 360px;
  height: 230px;
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
  text-align: center;
}

.product-zag {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  margin-top: 35px;
}

.product-zag a {
  display: block;
}

.price {
  position: absolute;
  top: 74px;
  right: 40px;
  left: 40px;
}

.price p {
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  text-align: center;
}

div .price-sort {
  display: block;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  background-color: #fb565a;
  margin-top: 30px;
  margin-left: 40px;
}

.price-sort:hover,
.price-sort:focus {
  background-color: #e74246;
  outline: none;
}

.price-sort:active {
  background-color: #d7373b;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 50px;
  margin-top: 28px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  list-style: none;
}

.pagination-item a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-right: 10px;
}

.pagination-list .next {
  width: 260px;
  height: 50px;
  text-align: center;
  margin-right: 0;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
  outline: none;
}

.pagination-item a:active {
  width: 44px;
  height: 44px;
  line-height: 44px;
  color: #959595;
  background-color: #d5d5d5;
  border-radius: 5px;
  border: 3px #dbdbdb solid;
}

.pagination-list .next:active {
  width: 254px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #959595;
  background-color: #d5d5d5;
}

.pagination-item-active {
  width: 44px;
  height: 44px;
  line-height: 44px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  border: 3px #dbdbdb solid;
  margin-right: 10px;
}

.pagination-list .next-active {
  width: 254px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  border: 3px #dbdbdb solid;
}

.wrap-sites li:first-child::before {
  content: none;
} 

 


/* Footer-блок */


/* Index-page */




.wrap-map {
  position: relative;
  height: 416px;
}

.wrap-map > a {
  position: absolute;
  top: 80px;
}

.map-1 {
  left: calc(50% - 600px);
}

.wrap-map iframe {
  position: absolute;
  top: 80px;
}

footer .wrap-general {
  position: relative;
}

.container {
  position: absolute;
  width: 270px;
  height: 307px;
  background-color: #ffffff;
  padding-left: 50px;
  top: 134px;
  left: calc(51% - 600px);
  z-index: 30;
}

.container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 34px;
}

.container p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}

.adress-phone {
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-writeus {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;
  height: 50px;
  text-align: center;
  width: 218px;
  height: 50px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #fb565a;
}

.btn-writeus:hover .write-us,
.btn-writeus:focus .write-us {
  display: block;
  outline: none;
}

.social-network {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  top: 150px;
  margin-bottom: 70px;
  left: 20px;
  right: 237px;
}

.logo-network {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.logo-network a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #e1e1e1;
  margin-right: 10px;
  background-position: center;
}

.logo-network a:hover,
.logo-network a:focus {
  background-color: #e74246;
  outline: none;
}

.logo-network a:active {
  background-color: #d7373b;
}

.footer-vkontakte {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
}

.footer-facebook {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.footer-instagram {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
}

.be-friends {
  display: flex;
  flex-direction: column;
}

.footer-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 0;
}

.be-friends p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}





/* Catalog-page */





/* Модальное окно Напишите нам */


.write-us {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 73px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;
  background-color: #ffffff;
  box-shadow: 0 8px 50px 5px #595a5a;
  overflow: auto;
  margin: auto;
}

.btn-writeus:active .write-us:target {
  display: block;
  position: fixed;
}

.modal-close {
  position: absolute;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  top: 76px;
  right: 89px;
  width: 21px;
  height: 21px;
  opacity: 0.5;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.write-us h3 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.fields-anketa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 36px;
}

.text-anketa {
  margin-left: 40px;
}

p {
  display: block;
  margin: 0px;
}

.write-us label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 9px;
}

.fields-anketa input {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 328px;
  min-height: 46px;
  border: 2px #d7dcde solid;
  border-radius: 5px;
  margin: 0px;
  padding-left: 14px;
  padding-right: 14px;
}

.write-us p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 9px;
}

.write-us textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 728px;
  min-height: 90px;
  border: 2px #d7dcde solid;
  border-radius: 5px;
  padding-left: 14px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 12px;
}

.write-us input:placeholder,
.write-us textarea:placeholder {
  color: #444444;
  opacity: 0.5;
}

.btn-send {
  width: 260px;
  margin-top: 38px;
}


